.fancybox-iframe {
    height: 105% !important;
}
html, body {height: 100%;}
@media only screen and (max-device-width: 400px) {
.fancybox-content {
  max-width: 100% !important;
  position: absolute !important;
  top: 30% !important;
  left:0;
}
}
@media only screen and (min-device-width: 400px) and (max-device-width: 500px) {
.fancybox-content {
  max-width: 100% !important;
   position: absolute !important;
   left:0;
}	
}
@media only screen and (min-device-width: 500px) and (max-device-width: 600px){
.fancybox-content {
  max-width: 100% !important;
  left:0;
}	
}
@media only screen and (min-device-width: 600px) and (max-device-width: 750px){
.fancybox-content {
  max-width: 100% !important;
  top: 0% !important;
  margin-top: -100px !important; 
}	
}
@media only screen and (min-device-width: 601px) {
.fancybox-content {
  max-width: 564px !important;	
}
}	